@{
    ViewData["Title"] = "Home Page";
}

    <div class="wrapper d-flex flex-row">
        <div class="text-white">
            @using (Html.BeginForm("CreateDungeon", "Home", FormMethod.Post))
            {
                <input type="text" readonly class="form-control-plaintext text-white" placeholder="@($"Current User: {User.Identity.Name} ")" value="@User.Identity.Name"><br>
                <table>
                    <tr>
                        <td>Enter Name: </td>
                        <td>@Html.TextBox("Name")</td>
                    </tr>
                    <tr>
                        <td>Enter Description: </td>
                        <td>@Html.TextBox("Description")</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="Submit"></td>
                    </tr>
                </table>

                @*<input type="submit" value="Submit" class="btn btn-success text-white btn-outline-dark border-success">*@
            }


        </div>
        <div class="flex-fill text-white" style="background-color:black">Dungeon Name = @ViewBag.Name : Dungeon Description = @ViewBag.Description User = @ViewBag.Id</div>
    </div>

<footer>
    <a href="example.com">Links bar</a>
    <a href="example.com">Site Map</a>
    <a href="example.com">Privacy</a>
    <a href="example.com">Mission Statement</a>
    <a href="example.com">About</a>
</footer>
